<section class="section about-us" id="about-us">
  <div class="container">

    <div class="about-us-header">
      <h2>Про нас</h2>
      <p class="text-about">
        У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, 
        що приносять радість та задоволення.
        Наша місія — пропонувати високоякісні десерти,
        які поєднують у собі вишуканий смак, свіжі інгредієнти та естетичний вигляд.
      </p>
    </div>

    <div class="slider-container">

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1440px)" srcset="../img/about-us/about-us-desk-one-1x.jpg 1x, ../img/about-us/about-us-desk-one-2x.jpg 2x" />
              <source media="(min-width: 768px)" srcset="../img/about-us/about-us-tab-one-1x.jpg 1x, ../img/about-us/about-us-tab-one-2x.jpg 2x" />
              <img src="../img/about-us/about-us-mob-one-1x.jpg" srcset="../img/about-us/about-us-mob-one-2x.jpg 2x" alt="Про нашу майстерню - процес приготування крему" loading="lazy" />
            </picture>
          </div>

                    <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1440px)" srcset="../img/about-us/about-us-desk-two-1x.jpg 1x, ../img/about-us/about-us-desk-two-2x.jpg 2x" />
              <source media="(min-width: 768px)" srcset="../img/about-us/about-us-tab-two-1x.jpg 1x, ../img/about-us/about-us-tab-two-2x.jpg 2x" />
              <img src="../img/about-us/about-us-mob-two-1x.jpg" srcset="../img/about-us/about-us-mob-two-2x.jpg 2x" alt="Про нашу майстерню - кондитери за роботою" loading="lazy" />
            </picture>
          </div>
          


          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1440px)" srcset="../img/about-us/about-us-desk-three-1x.jpg 1x, ../img/about-us/about-us-desk-three-2x.jpg 2x" />
              <source media="(min-width: 768px)" srcset="../img/about-us/about-us-tab-three-1x.jpg 1x, ../img/about-us/about-us-tab-three-2x.jpg 2x" />
              <img src="../img/about-us/about-us-mob-three-1x.jpg" srcset="../img/about-us/about-us-mob-three-2x.jpg 2x" alt="Про нашу майстерню - вітрина з десертами" loading="lazy" />
            </picture>
          </div>

                    <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1440px)" srcset="../img/about-us/about-us-desk-four-1x.jpg 1x, ../img/about-us/about-us-desk-four-2x.jpg 2x" />
              <source media="(min-width: 768px)" srcset="../img/about-us/about-us-tab-four-1x.jpg 1x, ../img/about-us/about-us-tab-four-2x.jpg 2x" />
              <img src="../img/about-us/about-us-mob-four-1x.jpg" srcset="../img/about-us/about-us-mob-four-2x.jpg 2x" alt="Про нашу майстерню - дівчина з десертом" loading="lazy" />
            </picture>
          </div>

        </div>
      </div>

      <button class="swiper-button-prev" aria-label="Попередній слайд">
        <svg>
          <use href="/img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button class="swiper-button-next" aria-label="Наступний слайд">
        <svg>
          <use href="/img/icons.svg#icon-arrow-right1"></use>
        </svg>
      </button>
      
      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>