<div class="backdrop" data-modal>
  <div class="dessert-modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="dessert-modal__body">
      <div class="dessert-modal__media"></div>

      <div class="dessert-modal__info">
        <div class="dessert_modal_content"></div>
        <button type="button" class="modal-order-btn" data-order-open>
          Перейти до замовлення
        </button>
      </div>
    </div>
  </div>
</div>
