<section class="section desserts_list_section" id="desserts_list">
    <div  class="container desserts_list_container" >
        <h2 class="desserts_title">Солодощі</h2>
        <p class="desserts_description">Спробуйте наші смачні десерти, які вас здивують!</p>

    <div class="desserts_categories-container">
        <div class="categories-desktop"></div>

<div class="categories-mobile"></div>
    </div>

    <ul class="desserts-list"></ul>

    <button class="desserts_load-more-btn" type="button" >
      Завантажити ще
    </button>
    </div>
</section>