<section class="section">
  <div class="container">
    <h2 class="feedback-subtitle">Відгуки клієнтів</h2>
    <p class="feedback-text">Найкращі десерти, які я коли-небудь куштував!</p>

    <div class="slider-section-wrapper">
      <div class="swiper mySwiper feedback-slider">
        <ul class="feedback-list swiper-wrapper"></ul>
        <div class="btn-bullet-container">
          <div class="swiper-pagination"></div>
          <div class="btn-container">
            <div class="swiper-button-prev">
              <svg class="arrow-left-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg class="arrow-right-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-arrow-right1"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
