<section class="section hero-section">
    <div class="container hero-container">
        <div class="hero-content">
            <h1 class="hero-title">Ласкаво просимо до Солодкої Майстерні</h1>
            <p class="hero-text">
                Відкрийте для себе наші<br class="mobile-br">
                неперевершені десерти, приготовані<br class="mobile-br">
                з любов'ю та увагою до деталей.<br class="mobile-br">
                Кожен шматочок — це справжнє<br class="mobile-br">
                свято смаку!
            </p>
            <div class="hero-btn-wrapper">
                <a href="#feedback" class="hero-btn" id="hero-cta-link">Що про нас думають</a>
            </div>
        </div>
    </div>
</section>