<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-content">
            <h1 class="hero-title">Ласкаво просимо до<br>Солодкої Майстерні</h1>
            <p class="hero-text">Відкрийте для себе наші неперевершені десерти, приготовані з любов'ю та увагою до
                деталей. Кожен шматочок — це справжнє свято смаку!</p>
            <a href="#feedbacks-section" class="hero-btn" id="hero-cta-link">Що про нас думають</a>
        </div>
    </div>
</section>