.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
}

.header-logo {
  display: flex;
  align-items: center;
  color: #080c0c;
}

.header-logo-icon {
  display: block;
  width: 158px;
  height: 72px;
  fill: currentColor;
}

.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  padding: 0;

  border: none;
  background-color: transparent;
  color: #080c0c;
  cursor: pointer;
}

.header-menu-icon {
  display: block;
  fill: currentColor;
  stroke: currentColor;
}

.header-nav,
.header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .header-nav {
    display: block;
    margin-left: auto;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-nav-link {
    display: block;

    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color: #080c0c;
    text-decoration: none;

    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #080c0c;
    text-decoration: underline;
  }

  .header-nav-link:active {
    color: #f19898;
    text-decoration: underline;
  }

  .header-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 133px;
    height: 40px;
    margin-left: 16px;
    padding: 0px 24px;

    border: 2px solid transparent;
    border-radius: 100px;

    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;

    color: #080c0c;
    background-color: #f19898;

    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    border-color: #080c0c;
    background-color: #f19898;
  }

  .header-btn:active {
    border-color: #080c0c;
    background-color: #f5b6b6;
  }
}

@media screen and (min-width: 1440px) {
  .header-nav-list {
    gap: 32px;
  }

  .header-btn {
    margin-left: 32px;
  }
}